# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/nextjs-api/node_modules
/nextjs-basics/node_modules
/nextjs-frontend/node_modules
.pnp
/source.pnp.js

# testing
/coverage

# next.js
/nextjs-api/.next/
/nextjs-basics/.next/
/nextjs-frontend/.next/
/out/

# production
/nextjs-api/build
/nextjs-basics/build
/nextjs-frontend/build

# misc
.DS_Store
*.pem

# debug
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*

# local env files
/nextjs-api/.env*.local
/nextjs-basics/.env*.local
/nextjs-frontend/.env*.local

# vercel
.vercel

# typescript
/nextjs-api/*.tsbuildinfo
/nextjs-frontend/*.tsbuildinfo
