.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    padding-top: 8px;
    padding-bottom: 8px;

    li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;
        width: 100%;
        text-align: left;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 16px;
        padding-left: 16px;

        a {
            text-decoration: none;
            color: black;
            &:hover {
                color: grey;
            }
        }
    }
}