.homepage-container {
    margin: 50px;
}

.homepage-card-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
}

.card-props {
    background-color: #637D37 !important;
}