.navbar {
    height: 50px;
    background-color: #637D37;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.navbar-menu {
    display: flex;
    flex-grow: 1;
}

.navbar-start {
    display: flex;
    margin-right: auto;
}

.navbar-item {
    color: white;
    cursor: pointer;
    display: flex;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 1rem;
    padding: 0.5rem 0.75rem;
    &:hover {
        background-color: rgba(245, 239, 183, 0.1);
    }
}
